.tictactoebuttons{  
    min-width: 32vw;
    min-height: 32vh;
    font-size: 150px;
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 38, 255);
    background-color: white;
    color: rgb(205, 209, 141);
}

#tictactoeHeader{

    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#button-1{
    border-top: 0px;
    border-left: 0px;
}

#button-2{
    border-top: 0px;
}

#button-3{
    border-top: 0px;
    border-right: 0px;
}

#button-4{
    border-left: 0px;
}

#button-6{
    border-right: 0px;
}

#button-7{
    border-left: 0px;
    border-bottom: 0px;
}


#button-8{
    border-bottom: 0px;
}


#button-9{
    border-right: 0px;
    border-bottom: 0px;
}

#player1Header{
    color: white;
    margin-left: 50px;
    text-align: center;
}

#pointerImage{
    width: 80px;
    height: auto;
}

#player1details{
    display: flex;
    align-items: center;
    gap: 20px;
}

#winnerDiv{
    position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(112, 108, 108, 0.9);
color: aqua;
font-size: 50px;
}

#playAgainbutton{
    background-color: bisque;
    font-size: 20px;
    padding: 10px;
    box-shadow: 10px;
}